%h1.text-center Daily Statistics

.d-flex.justify-content-start
    = image_tag(@user.avatar_thumbnail)


%h2
    = @user.name
%div
= line_chart @calories_graph, colors: ["#dc3545","#198754"]
= link_to "share grap", statitics_new_path, class: "btn btn-primary mt-1" if current_user