<% if notice %>
  <p id="notice" class="notice alert alert-success" style="color: green" ><%= notice %></p>
<% elsif alert %>
  <p id="alert" class="alert alert-danger" style="color: red"><%= alert %></p>
<% end %>

